body{
    background-color: beige;
    font-family: monospace;
    text-align: center;
}
p{
    font-size: 16px;
}
.navigation{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
a{
    text-decoration: underline;
    color: brown;
    transition: all 200ms ease;
    padding: 0 80px;
}
a:hover{
    text-decoration: underline;
    color: brown;
}
a:visited{
    color: blueviolet;
}